<meta name="twitter:title" content="Ramblings from Leslie:: Home" />
<meta name="twitter:description" content="Writing about taming computers" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:image" content="https://blog.burugu.xyz/img/avi.png" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@burugu_" />
<meta name="twitter:creator" content="@burugu_" />
<meta name="twitter:domain" content="blog.burugu.com">

<meta property="og:title" content="Ramblings from Leslie:: Home" />
<meta property="og:Section" content="website" />
<meta property="og:url" content="https://blog.burugu.xyz/" />
<meta property="og:image" content="/img/avi.png" />
<meta property="og:site_name" content="Ramblings from Leslie" />
<meta property="og:description" content="Writing about taming computers" />